@model D1_2_B2D3_Casus_Toetsgenerator.Models.Toetsmatrijs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Toetsmatrijs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Module naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moduleNaam)
        </dd>

        <dt>
            Module code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moduleCode)
        </dd>

        <dt>
            Maker ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makerID)
        </dd>

        <dt>
            Aanmaak datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aanmaakdatum)
        </dd>

        <dt>
            Laatst gewijzigd door
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laatstGewijzigdDoor)
        </dd>

        <dt>
            Datum gewijzigd
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumGewijzigd)
        </dd>

        <dt>
            Prestatie indicator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prestatieIndicator)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
