@model D1_2_B2D3_Casus_Toetsgenerator.Models.Kenniselement

@{
    ViewBag.Title = "Delete";
}

<h2>Kenniselement verwijderen</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Kenniselement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Module naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toetsmatrijs.moduleNaam)
        </dd>

        <dt>
            Inhoud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inhoud)
        </dd>

        <dt>
            Aantal reproductie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aantalReproductie)
        </dd>

        <dt>
            Aantal begrip
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aantalBegrip)
        </dd>

        <dt>
            Aantal toepassing
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aantalToepassing)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
