@model IEnumerable<D1_2_B2D3_Casus_Toetsgenerator.Models.Kenniselement>

@{
    ViewBag.Title = "Index";
}

<h2>Kenniselement overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Module naam
        </th>
        <th>
            Inhoud
        </th>
        <th>
            Aantal reproductie
        </th>
        <th>
            Aantal begrip
        </th>
        <th>
            Aantal Toepassing
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toetsmatrijs.moduleNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inhoud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantalReproductie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantalBegrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantalToepassing)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
