@model D2_B2D3_Toetsgenerator.Models.Opgave
@{
    ViewBag.Title = "Verwijderen";
}

<h2>Verwijderen</h2>

<h3>Weet u zeker dat u deze opgave wilt verwijderen?</h3>
<div>
    <h4>Opgave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kenniselement.inhoud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kenniselement.inhoud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inhoud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inhoud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antwoorden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antwoorden)
        </dd>

        <dt>
            @Html.DisplayTextFor(model => model.openbaar)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.openbaar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aanmaakdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aanmaakdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.laatstGewijzigDoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laatstGewijzigDoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumGewijzigd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumGewijzigd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie)
        </dd>

        <dt>
            @Html.DisplayTextFor(model => model.isBackup)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.isBackup)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht", "Index")
        </div>
    }
</div>
