@model D2_B2D3_Toetsgenerator.Models.ToetsOpgave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToetsOpgave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opgave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opgave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
