@model D2_B2D3_Toetsgenerator.Models.Toetsmatrijs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Toetsmatrijs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moduleNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moduleNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moduleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moduleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aanmaakdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aanmaakdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.laatstGewijzigdDoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laatstGewijzigdDoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumGewijzigd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumGewijzigd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prestatieIndicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prestatieIndicator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
