@model IEnumerable<D2_B2D3_Toetsgenerator.Models.Toetsmatrijs>

@{
    ViewBag.Title = "Index";
}

<h2>Toetsmatrijs overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<row>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.moduleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moduleNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studiejaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blokperiode)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.moduleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moduleNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studiejaar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.blokperiode)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
            </tr>
        }

    </table>
</row>
